---
import { bviConfig } from '../../constants/bviConfig';
import Authentication from '../modals/Authentication.astro';
import AuthenticationCombine from '../modals/AuthenticationCombine.astro';

interface Props {
  title?: string;
}

const { title } = Astro.props;

const version = String(Date.now()).substring(5);
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/plugins/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/plugins/fancybox/fancybox.css" />
    <link rel="stylesheet" href=`/css/style.css?v=0.${version}` />
    <title>{title}</title>
  </head>
  <body>
      <slot />
    <script is:inline src="/plugins/swiper/swiper-bundle.min.js" defer />
    <script is:inline src="/plugins/accordion/accordion.min.js" defer />
    <script is:inline src="/plugins/fancybox/fancybox.umd.js" defer/>
    <script type="module" is:inline src=`/js/script.js?v=0.${version}` />
  </body>
</html>
