---
import { Footer, Header, Layout } from '@/components/layout';
import { HomeHeroSection, Innovations, Faq, ProjectGallery } from '@/components/features/home';
import { News, Stories } from '@/components/features/news';
import { ArchivesSlider } from '@/components/features/archive';
import { Exhibitions } from '@/components/features/projects';
import { Services } from '@/components/features/services';
---

<Layout title="Главная">
  <Header  />
  <main class="main">

  </main>
  <Footer />
</Layout>
