@font-face {
   font-family: 'Unbounded';
   src: url('../fonts/Unbounded/Unbounded-Regular.ttf');
   font-weight: 400;
   font-style: normal;
 }
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded/UUnbounded-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded/Unbounded-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded/Unbounded-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded/Unbounded-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}


//@font-face {
//  font-family: 'Wix Madefor Display';
//  src: url('../fonts/Wix_Madefor_Display/WixMadeforDisplay-Bold.ttf');
//  font-weight: 700;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Wix Madefor Display';
//  src: url('../fonts/Wix_Madefor_Display/WixMadeforDisplay-ExtraBold.ttf');
//  font-weight: 800;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Wix Madefor Display';
//  src: url('../fonts/Wix_Madefor_Display/WixMadeforDisplay-Bold.ttf');
//  font-weight: 700;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Wix Madefor Display';
//  src: url('../fonts/Wix_Madefor_Display/WixMadeforDisplay-Bold.ttf');
//  font-weight: 700;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Wix Madefor Display';
//  src: url('../fonts/Wix_Madefor_Display/WixMadeforDisplay-Bold.ttf');
//  font-weight: 700;
//  font-style: normal;
//}