.footer {
  margin-top: fluid(48px, 72px);
  padding: fluid(16px, 24px) 0;

  @include vp-1023 {
    margin-top: 40px;
    margin-bottom: 24px;
    padding: 0;
  }

  &__container {
    @include container();
  }

  &__content {
    display: grid;
    grid-template-columns: fluid(160px, 426px) auto;
    gap: fluid(24px, 32px);
    align-items: flex-start;

    @include vp-1023 {
      gap: 20px;
      grid-template-columns: 43px auto;
    }
  }

  &__column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: fluid(24px, 32px);

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;

    &--logo {
      width: fluid(160px, 426px);
      justify-content: space-between;
    }

    &--additional {
      justify-content: center;
    }

    @include vp-1023 {
      &--logo {
        width: auto;
      }
    }
  }

  &__logo {
    display: flex;
    gap: 11px;
    align-items: center;
    width: 120px;
    height: 60px;

    @include vp-1023 {
      display: none;
    }

    &--mobile {
      width: 36px;
      height: 45px;
      display: none;

      @include vp-1023 {
        display: flex;
      }
    }
  }

  &__text {
    font-size: 12px;
    color: $color_red;
    text-transform: uppercase;

    @include vp-1023 {
      display: none;
    }
  }

  &__logo-image {
    max-width: 120px;
    height: auto;
    object-fit: contain;

    @include vp-1023 {
      max-width: 120px;
    }
  }

  &__info {
    margin: auto 0 0;
    font-family: $font_inter;
    font-size: fluid(14px, 16px);
    font-weight: 400;
    line-height: 1.2;
    color: $color_gray;

    @include vp-1023 {
      display: none;
    }
  }

  &__address {
    font-style: normal;

    @include vp-1023 {
      font-size: 12px;
    }
  }

  &__title {
    margin-bottom: fluid(16px, 24px);
    font-family: $font_pt;
    font-size: fluid(18px, 24px);
    font-weight: 400;
    line-height: 1.4;
    color: $color_black;

    @include vp-1023 {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: fluid(12px, 14px);
  }

  &__contact-item {
    max-width: 240px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include vp-1023 {
      max-width: 100%;
    }
  }

  &__contact-link {
    @include vp-1023 {
      font-size: 12px;
    }
  }

  &__social {
    display: flex;
    gap: fluid(20px, 32px);
    margin-bottom: fluid(16px, 20px);

    @include vp-1023 {
      gap: 8px;
      margin: 0;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_blue_brand;

    width: fluid(24px, 32px);
    height: fluid(24px, 32px);

    svg {
      min-width: 32px;
      max-height: 32px;

      width: 100%;
      height: auto;
    }

    .link__icon {
      font-size: fluid(24px, 32px);
      
      &.icon-max {
        font-size: fluid(24px, 26px);
      }
    }

    @include vp-1023 {
      .link__icon {
        font-size: 18px;

        &.icon-max {
          font-size: 16px;
        }
      }
    }
  }

  &__additional {
    display: flex;
    flex-direction: column;
    gap: fluid(16px, 24px);

    @include vp-1023 {
      gap: 22px;
    }
  }

  &__additional-link {
    @include vp-1023 {
      font-size: 12px;
      color: $color_black;
    }
  }
}
