.btn {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 12px 24px;

  font-size: fluid(13px, 16px);
  line-height: 1;
  font-weight: 400;
  color: $color_black;

  outline: none;
  background-color: $color_white;
  border-radius: $space_x2;

  border: 1px solid $color_gray100;
  cursor: pointer;

  @include tr3(background-color, border-color, color);

  &.fit-content {
    width: fit-content;
  }

  &__icon {
    font-size: 16px;
  }

  &__icon-left {
    margin-right: 8px;
    transform: rotate(180deg);
  }
  &__icon-right {
    margin-left: 8px;
  }

  span+&__icon {
    margin-left: 8px;
  }

  @include hover {
    background-color: $color_gray100;
  }

  &:focus,
  &:focus-visible {
    border-color: $color_gray200;
  }

  &:active,
  &:focus:active {
    background-color: $color_white;
    border-color: $color_gray100;
  }

  &:disabled,
  &--disabled {
    background-color: $color_gray100;
    border-color: $color_gray100;
    color: $color_gray;
    cursor: not-allowed;
    pointer-events: none;
  }

  // Размеры кнопок
  &--small {
    padding: 8px 16px;
    font-size: fluid(10px, 12px);
  }

  &--large {
    padding: 16px 32px;
    font-size: fluid(24px, 30px);
  }

  // Цвета кнопок
  &--blue {
    background-color: $color_blue_brand;
    border-color: $color_blue_brand;
    color: $color_white;

    @include hover {
      background-color: $color_blue_brand_hov;
      border-color: $color_blue_brand_hov;
    }

    &:focus,
    &:focus-visible {
      border-color: $color_black;
    }

    &:active,
    &:focus:active {
      background-color: $color_blue_brand_press;
      border-color: $color_blue_brand_press;
    }
  }

  &--red {
    background-color: $color_red_brand;
    border-color: $color_red_brand;
    color: $color_white;

    @include hover {
      background-color: $color_red;
      border-color: $color_red;
    }

    &:focus,
    &:focus-visible {
      border-color: $color_black;
    }

    &:active,
    &:focus:active {
      background-color: $color_red_brand_press;
      border-color: $color_red_brand_press;
    }
  }

  &--black {
    background-color: $color_black;
    border-color: $color_black;
    color: $color_white;

    @include hover {
      background-color: $color_gray200;
      border-color: $color_gray200;
    }

    &:focus,
    &:focus-visible {
      border-color: $color_gray200;
    }

    &:active,
    &:focus:active {
      background-color: $color_black;
      border-color: $color_black;
    }
  }

  &--default {
    background-color: $color_green_accent;
    border-color: $color_green_accent;
    color: $color_white;

    @include hover {
      background-color: $color_red_brand;
      border-color: $color_red_brand;
    }

    &:focus,
    &:focus-visible {
      border-color: $color_black;
    }

    &:active,
    &:focus:active {
      background-color: $color_black;
      border-color: $color_black;
    }
  }

  &--grey {
    background-color: $color_gray200;
    border-color: $color_gray200;
    color: $color_white;

    @include hover {
      background-color: $color_black;
      border-color: $color_black;
    }

    &:focus,
    &:focus-visible {
      border-color: $color_black;
    }

    &:active,
    &:focus:active {
      background-color: $color_gray200;
      border-color: $color_gray200;
    }
  }

  // Варианты кнопок
  &--outline {
    // background-color: transparent;
    border: 1px solid $color_black;
    color: $color_black;

    @include hover {
      background-color: $color_black;
      color: $color_white;
    }

    &:focus,
    &:focus-visible {
      border-color: $color_gray200;
    }

    &:active,
    &:focus:active {
      background-color: transparent;
      border-color: $color_black;
      color: $color_black;
    }
  }

  &--link {
    background-color: transparent;
    border: none;
    color: $color_green_accent;
    padding: 0;

    &.btn--blue {
      color: $color_blue_brand;
    }

    &.btn--black {
      color: $color_black;
    }

    &.btn--default {
      color: $color_green_accent;
    }

    &.btn--grey {
      color: $color_gray200;
    }

    &:hover {
      background-color: transparent;
      color: $color_red_brand;
    }

    &:focus,
    &:focus-visible {
      border-color: transparent;
    }

    &:active,
    &:focus:active {
      background-color: transparent;
      color: $color_black;
    }

    &:disabled {
      background-color: transparent;
      color: $color_gray;
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: currentColor;
    font-size: 16px;
    border-radius: 0;
    min-width: auto;

    &:hover {
      background-color: transparent;
      color: $color_red_brand;
    }

    &:focus,
    &:focus-visible {
      border-color: transparent;
    }

    &:active,
    &:focus:active {
      background-color: transparent;
      color: $color_black;
    }
  }

  &--round {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: fluid(30px, 42px);
    height: fluid(30px, 42px);
    border-radius: 50%;
    border-width: 2px;

    color: $color_gray200;

    &.btn--icon-small {
      width: fluid(24px, 30px);
      height: fluid(24px, 30px);
      border-width: 1px;
    }

    &.btn--small {
      width: fluid(24px, 30px);
      height: fluid(24px, 30px);
      font-size: fluid(10px, 12px);
      border-width: 1px;
    }

    &.btn--large {
      width: fluid(42px, 72px);
      height: fluid(42px, 72px);
      border-width: 2px;
    }

    @include hover {

      &:hover,
      &:focus:hover {
        background-color: transparent;
        color: $color_black;
        border-color: $color_black;
      }
    }

    &:focus,
    &:focus-visible {
      color: $color_black;
    }

    &:active,
    &:focus:active {
      background-color: transparent;
      border-color: $color_gray200;
      color: $color_gray200;
    }

    &:disabled {
      background-color: $color_gray100;
      border-color: $color_gray100;
      color: $color_gray;
      cursor: not-allowed;
    }

    &.btn--blue {
      color: $color_blue_brand;
      border-color: $color_blue_brand;
      background-color: $color_white;

      @include hover {
        &:hover {
          background-color: $color_white;
          border-color: $color_blue_brand_hov;
          color: $color_blue_brand_hov;
        }
      }

      &:focus,
      &:focus-visible {
        border-color: $color_black;
      }

      &:active,
      &:focus:active {
        background-color: $color_white;
        border-color: $color_blue_brand_press;
        color: $color_blue_brand_press;
      }
    }

    &.btn--red {
      color: $color_red_brand;
      border-color: $color_red_brand;
      background-color: $color_white;

      @include hover {
        &:hover {
          background-color: $color_white;
          border-color: $color_red;
          color: $color_red;
        }
      }

      &:focus,
      &:focus-visible {
        border-color: $color_black;
      }

      &:active,
      &:focus:active {
        background-color: $color_white;
        border-color: $color_red_brand_press;
        color: $color_red_brand_press;
      }
    }

    &.btn--black {
      color: $color_black;
      border-color: $color_black;
      background-color: $color_white;

      @include hover {
        &:hover {
          background-color: $color_white;
          border-color: $color_gray200;
          color: $color_gray200;
        }
      }

      &:focus,
      &:focus-visible {
        border-color: $color_gray200;
      }

      &:active,
      &:focus:active {
        background-color: $color_white;
        border-color: $color_black;
        color: $color_black;
      }
    }

    &.btn--default {
      color: $color_green_accent;
      border-color: $color_green_accent;
      background-color: $color_white;

      @include hover {
        &:hover {
          background-color: $color_white;
          border-color: $color_red_brand;
          color: $color_red_brand;
        }
      }

      &:focus,
      &:focus-visible {
        border-color: $color_black;
      }

      &:active,
      &:focus:active {
        background-color: $color_white;
        border-color: $color_black;
        color: $color_black;
      }
    }

    &.btn--grey {
      color: $color_gray200;
      border-color: $color_gray200;
      background-color: $color_white;

      @include hover {
        &:hover {
          background-color: $color_white;
          border-color: $color_black;
          color: $color_black;
        }
      }

      &:focus,
      &:focus-visible {
        border-color: $color_black;
      }

      &:active,
      &:focus:active {
        background-color: $color_white;
        border-color: $color_gray200;
        color: $color_gray200;
      }
    }
  }
  &--block {
    width: fit-content;
  }

  &:disabled,
  &--disabled {
    background-color: $color_gray100;
    border-color: $color_gray100;
    color: $color_gray;
    cursor: not-allowed;
    pointer-events: none;
  }


  .sliderNavigateBtn {
    border: none;
    width: fluid(30px, 40px);
    height: fluid(30px, 40px);
    border-radius: 50%;
    background-color: $color_send_bg;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    @include tr(all);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &:hover {
      color: $color_send_bg;
      background-color: $color_orange_accent;
    }

    &--left {
      @include fluidNegative(left, -12px, -20px);
    }

    &--right {
      @include fluidNegative(right, -12px, -20px);
    }

    &--vertical {
      position: static;
      transform: none;
      border-radius: 10px;
      box-shadow: none;
      height: 36px;
      width: 40px;

      &:hover {
        background-color: $color_black;
      }
    }
  }

  .arrowBtn {
    font-size: fluid(15px, 20px);

    &--left {
      transform: rotate(180deg);
    }

    &--bottom {
      transform: rotate(90deg);
    }

    &--top {
      transform: rotate(-90deg);
    }
  }
}


.sliderBtn {
  font-size: fluid(15px, 20px);
  width: 44px;
  height: 44px;
  color: $color_white;
  background-color: $color_red_brand;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $space_x2;
  @include tr(background-color);
  @include hover {
    background-color: $color_red;
  }
  &--left {
    transform: rotate(-180deg);
  }
}


@media screen and (max-width: 1023px) {
  .sliderNavigateBtn {
    display: none;
  }
}

@media screen and (max-width: 576px) {}