.tab {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    cursor: pointer;
  }

  
  &__choices {
    display: none;
  }

  &__content {
    display: none;
    opacity: 0;
    @include tr(opacity);

    &--active {
      display: block;
    }

    &--opacity {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .tab {
    &__list {
      display: none;
    }

    &__choices {
      display: block;
      margin-bottom: 20px;
    }
  }
}
