.title {
  font-size: fluid(22px, 24px);

  width: 100%;
  font-weight: 500;
  line-height: 1.2;
  color: $color_black;
  margin: 0;
  font-family: $font_pt;
  @include tr(color);

  &--h1 {
    font-size: fluid(24px, 44px);
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }

  &--h2 {
    font-size: fluid(28px, 32px);
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }

  &--h3 {
    font-size: fluid(18px, 24px);
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }

  &--h4 {
    font-size: fluid(16px, 18px);
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }

  &--big {
    font-size: fluid(24px, 80px);
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
  }
  &--white {
    color: $color_white;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:has(.title__icon) {
      justify-content: flex-start;
      gap: fluid(12px, 32px);
    }
  }
  &__desc {
    margin-top:  fluid(8px, 16px);
    font-size: fluid(14px, 16px);
    font-family: $font_inter;
    opacity: .5;
    width: 500px;
    @include vp-576 {
      width: 100%;
    }
  }
  &__total {
    font-size: fluid(16px, 18px);
    font-weight: 600;
    margin-left: fluid(12px, 16px);
    color: $color_gray;
    white-space: nowrap;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: $color_orange_accent;
    @include tr(color);
    white-space: nowrap;
    margin-left: auto;

    @include hover {
        color: $color_black;
    }
  }
  &__icon {
    font-size: fluid(10px, 20px);
    width: fluid(24px, 48px);
    height: fluid(24px, 48px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color_red_brand;
    color: $color_red_brand;
    border-radius: 50%;
    @include tr2(color, border);
    @include hover {
      color: $color_red;
      border: 2px solid $color_red;
    }
  }
}

.wrapper--send {
  .title {
    color: $color_red_brand;
    &--h3 {
      color: $color_black;

    }
    &--black {
      color: $color_black;
    }
    &__desc {
      color: $color_black;
    }
  }
}